pre .codehilite .hll { background-color: #ffffcc }
pre .codehilite .c { color: #408080; font-style: italic } /* Comment */
pre .codehilite .err { border: 1px solid #FF0000 } /* Error */
pre .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
pre .codehilite .o { color: #666666 } /* Operator */
pre .codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
pre .codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
pre .codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
pre .codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
pre .codehilite .gd { color: #A00000 } /* Generic.Deleted */
pre .codehilite .ge { font-style: italic } /* Generic.Emph */
pre .codehilite .gr { color: #FF0000 } /* Generic.Error */
pre .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .codehilite .gi { color: #00A000 } /* Generic.Inserted */
pre .codehilite .go { color: #888888 } /* Generic.Output */
pre .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre .codehilite .gs { font-weight: bold } /* Generic.Strong */
pre .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .codehilite .gt { color: #0044DD } /* Generic.Traceback */
pre .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
pre .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
pre .codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
pre .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
pre .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
pre .codehilite .kt { color: #B00040 } /* Keyword.Type */
pre .codehilite .m { color: #666666 } /* Literal.Number */
pre .codehilite .s { color: #BA2121 } /* Literal.String */
pre .codehilite .na { color: #3300ff } /* Name.Attribute */
pre .codehilite .nb { color: #008000 } /* Name.Builtin */
pre .codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
pre .codehilite .no { color: #880000 } /* Name.Constant */
pre .codehilite .nd { color: #AA22FF } /* Name.Decorator */
pre .codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre .codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre .codehilite .nf { color: #0000FF } /* Name.Function */
pre .codehilite .nl { color: #A0A000 } /* Name.Label */
pre .codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre .codehilite .nv { color: #19177C } /* Name.Variable */
pre .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
pre .codehilite .mf { color: #666666 } /* Literal.Number.Float */
pre .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
pre .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
pre .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
pre .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
pre .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
pre .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
pre .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
pre .codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
pre .codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre .codehilite .sx { color: #008000 } /* Literal.String.Other */
pre .codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
pre .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
pre .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
pre .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
pre .codehilite .vc { color: #19177C } /* Name.Variable.Class */
pre .codehilite .vg { color: #19177C } /* Name.Variable.Global */
pre .codehilite .vi { color: #19177C } /* Name.Variable.Instance */
pre .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
